<% if params[:name].present? || params[:room].present? %>
  <% if @tickets.present? %>
    <%= will_paginate @tickets %>
    <%= render 'pages/current_table_head' %>
      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <%= render "tickets/search", ticket: ticket %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @tickets %>
  <% else %>
    <div class="form-container text-center alert alert-danger">
      <p class="no-records">No Records Match</p>
    </div>
  <% end %>
<% end %>
