<% if params[:name].present? || params[:room].present? %>
  <% if @tickets.present? %>
    <%= will_paginate @tickets %>
    <%= render 'pages/current_table_head' %>
      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <%= render "tickets/search", ticket: ticket %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @tickets %>
  <% else %>
    <p> No Records Found </p>
  <% end %>
<% end %>
<br>
