<% unless @ticket.latest_details.errors[:r_employee_id].present? || @ticket.latest_details.r_employee_id.present? %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@ticket.errors.keys.count, "error") %>.
      </div>
      <ul>
      <% @ticket.errors.each do |attr, msg| %>
        <% if @ticket.errors[attr].first == msg %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
