<%= render 'current_table_head' %>
  <tbody>
    <% current.each do |ticket| %>
      <tr>
        <%= render 'tickets/search', ticket: ticket %>
      </tr>
    <% end %>
  </tbody>
</table>
<p>Total current <%= "#{@state}" %>: <%= current.count %></p>
