<div class="container">
  <div class="text-center">
    <h1 class="headings">Storage</h1>

    <a href="/tickets/" class="btn btn-secondary btn-lg">New ticket</a>
    <a href="/search/" class="btn btn-secondary btn-lg">Search</a>

    <h2>Current tickets</h1>
  </div>
  <div>
    <% if @current_tickets.any? %>
      <%= render "current" %>
    <% end %>
  </div>
</div>
