@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-color: #bbb;
}

table {
  font-size: 0.9rem;
}

h1 {
  font-size: 2em;
}

.headings {
  font-size: 4em;
}

.homelinks {
  font-size: 2em;
}
