@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-color: #bbb;
}

table {
  font-size: 0.9rem;
}

h1 {
  font-size: 3em;
}

.container {
  max-width: 1400px;
}

.headings {
  font-size: 4em;
}

.homelinks {
  font-size: 2em;
}

.input-group-addon {
  width: 98px;
}

.form-container {
  max-width: 555px;
  margin: auto;
}

.search-form-addon {
  width: 132px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.input-group {
  margin-bottom: 1px;
}

.pagination > li > a
{
    background-color: #6c757d;
    color: white;
    border-color: #6c757d;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: white;
    background-color: #5a6268;
    border-color: #545b62;
}

.page-item.active .page-link {
  background-color: #545b62;
  border-color: #4e555b;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.page-item.disabled .page-link {
  background-color: #6c757d;
  color: white;
  border-color: #6c757d;
  opacity: .50;
}
