@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-color: #bbb;
}

table {
  font-size: 0.9rem;
}

.container {
  max-width: 1400px;
}

.headings {
  font-size: 4em;
  margin-top: 20px;
}

.homelinks {
  font-size: 2em;
}

.input-group-addon {
  width: 98px;
  display: block;
  text-align: center;
}

.form-container {
  max-width: 555px;
  margin: auto;
}

.search-form-addon {
  display: block;
  width: 76.7px;
  text-align: center;
  padding: 6px 9px;
}

.search-form-label {
  width: 132px;
  display: block;
  text-align: center;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.input-group {
  margin-bottom: 1px;
}

.pagination > li > a
{
    background-color: #6c757d;
    color: white;
    border-color: #6c757d;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: white;
    background-color: #5a6268;
    border-color: #545b62;
}

.page-item.active .page-link {
  background-color: #545b62;
  border-color: #4e555b;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.page-item.disabled .page-link {
  background-color: #6c757d;
  color: white;
  border-color: #6c757d;
  opacity: .50;
}

.datepicker-days > table > tbody > tr > td.active,
.datepicker-months > table > tbody > tr > td > span.active,
.datepicker-years > table > tbody > tr > td > span.active,
.datepicker-decades > table > tbody > tr > td > span.active,
.datepicker-centuries > table > tbody > tr > td > span.active
{
  background-color: #6c757d;
  background-image: linear-gradient(to bottom, #a7acb1, #6c757d);
}

.datepicker-days > table > tbody > tr > td.active:hover,
.datepicker-months > table > tbody > tr > td > span.active:hover,
.datepicker-years > table > tbody > tr > td > span.active:hover,
.datepicker-decades > table > tbody > tr > td > span.active:hover,
.datepicker-centuries > table > tbody > tr > td > span.active:hover
{
  background-color: #6c757d;
  background-image: linear-gradient(to bottom, #989da1, #545b62);
}

.sign-out-room {
  max-width: 25%
}

table {
  table-layout: fixed;
}

.no-records {
  color: black;
  margin-bottom: 0px;
}

html {
  overflow-y: scroll;
}

.check-box-forms {
  width: 20px;
  height: 20px;
}

.relog-check-box {
  display: flex;
  justify-content: center;
}

.check-box-employee {
  vertical-align: bottom;
  display: inline;
  width: 28px;
  height: 28px;
}

.alert {
  margin-bottom: 16px;
}
